<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>

</head>
<body>
<form th:method="PATCH" th:action = "@{/{id} (id = ${user.getId()})}" th:object = "${user}">
  <label for = "userName">Имя пользователя:  </label>
  <input type="text" th:field="*{userName}" id = "UserName"/>
  <label for = "userName">   Имя:  </label>
  <input type="text" th:field="*{firstName}" id = "FirstName"/>
  <label for = "userName">   Фамилия:  </label>
  <input type="text" th:field="*{lastName}" id = "LastName"/>
  <label for = "userName">   Email:  </label>
  <input type="text" th:field="*{email}" id = "Email"/>
  <br/>
  <input type="submit" value="Изменить!"/>
</form>
<a th:href = "@{/users}">Вернуться к списку пользователей</a>
</body>
</html>